target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/*
!.idea/artifacts/
*.iws
*.iml
*.ipr
artifacts/

### Maven
.mvn/*

### Mac OS ###
.DS_Store


### Docker ###
docker/.docker-sync/*